*{
    color: yellow;
    font-style: oblique;
    background: seagreen;
    @font-face {
        font-family: 'ChunkFiveRegular';
        src: url('fonts/chunkfive.eot');}
}

h1,h2,h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: salmon;
    font-size: 32px;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
    text-transform: uppercase;
    text-align: center;
}
a:link {
    color: deeppink;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color: deeppink;
    text-decoration: underline;
}
a:active {
    color: darkcyan;
}



